{% extends "base.html"%}
{%block content%}
{% load static %}
<div>
    <link href="{% static 'css/index.css'%}" rel="stylesheet" />
    <div class="desktop1-container">
      <div class="desktop1-desktop1">
        <img
        src="{% static 'images/bk3.png'%}"
        alt="IMAGE3509230841764089884255512517506835589872766n18933"
        class="desktop1-image3509230841764089884255512517506835589872766n1"
      />
      <img
      src="{% static 'images/v9.png'%}"
      alt="Ellipse11034"
      class="desktop1-ellipse11"
    />
    <img
      src="{% static 'images/v9.png'%}"
      alt="Ellipse21035"
      class="desktop1-ellipse222"
    />
    <img
        src="{% static 'images/vector-1.svg'%}"
        alt="Vector1039"
        class="desktop1-vectorr"
      />  
      <img
        src="{% static 'images/vector-2.svg'%}"
        alt="Vector1031"
        class="desktop1-vector1111"
      />
    
      
      <div class="desktop1-rectang"></div> 
      <div class="desktop1-rectan"></div>      
      <div class="text4"> changer mot de passe</div>   
      <form class="form" method="post" id="form">
        {% csrf_token %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            <strong><i style="color:red;position: absolute;top: 500px;left: 100px;">{{message}}</i></strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <input type="password" name="new_password" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="form-group">
            <input type="password" name="reconfirm_password" class="form-control2" placeholder="Confirmer" required>
        </div>
        <input type="hidden" name="user_id" value="{{user_id}}">
        <button class="btn2" type="submit">Enregistrer</button>
        
       </form>

    </div>  
</div>
{% endblock %}