{% extends 'base.html' %}
{%block content%}
{% load static %}
<div>
    <link href="{% static 'css/index.css'%}" rel="stylesheet" />
    <div class="desktop1-container">
      <div class="desktop1-desktop1">
        <img
        src="{% static 'images/bk3.png'%}"
        alt="IMAGE3509230841764089884255512517506835589872766n18933"
        class="desktop1-image3509230841764089884255512517506835589872766n1"
      />
      <img
      src="{% static 'images/v9.png'%}"
      alt="Ellipse11034"
      class="desktop1-ellipse11"
    />
    <img
        src="{% static 'images/vector.svg'%}"
        alt="Vector1039"
        class="desktop1-vectorr"
      />  
    
      
      <div class="desktop1-rect"></div>    
      <div class="text4"> Mot de passe oublié</div>   
      <form class="form" method="post" id="form">
        {% csrf_token %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            <strong><i style="color:red;position: absolute;top: 500px;left:100px;">{{message}}</i></strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
            <input type="text" name="username" id="username" class="form-control" placeholder="Nom d&apos;utilisateur" required>
        </div>
        <button class="btn" type="submit">Verifier</button>
        
       </form>


    </div>  
</div>
{% endblock %}