.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 676px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-image3509230841764089884255512517506835589872766n1 {
  top: 0px;
  left: 0px;
  width: 1550px;
  height: 700px;
  position: absolute;
}
.desktop1-rectangle1 {
  top: 453px;
  left: 88px;
  width: 252px;
  height: 43px;
  position: absolute;
  border-radius: 10px;
}
.desktop1-text {
  top: 459px;
  left: 133px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text2 {
  top: 514px;
  left: 133px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 25px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle2 {
  top: 279px;
  left: 88px;
  width: 261px;
  height: 43px;
  position: absolute;
  background-color: red;
  opacity: 0.5;
  border-radius: 8px;
  z-index: 1; 
}
