.frame1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  input[type="file"] {
    top: 501px;
    left: 139px;
    width: 300px;
    height: 70px;
    position: absolute;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    opacity: 0;
    z-index: 1;
  } 
  .button-container {
    background-color: #000A2E;
  }
  .button-container button {
    background-color: #000A2E;
    width: 300px;
    height: 70px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
  }
  .frame1-frame1 {
    gap: 10px;
    width: 100%;
    height: 819px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
  }
  .frame1-rectangle4 {
    top: 0px;
    left: 0px;
    width: 1487px;
    height: 819px;
    position: absolute;
  }
  .frame1-v31 {
    top: 345.06884765625px;
    left: 630px;
    width: 264px;
    height: 33px;
    position: absolute;
    transform: rotate(-3.06deg);
  }
  .frame1-v41 {
    top: 200px;
    left: 703px;
    width: 105px;
    height: 89px;
    position: absolute;
  }
  .frame1-rectangle5 {
    top: 66px;
    left: 60px;
    width: 436px;
    height: 344px;
    position: absolute;
  }
 
  .frame1-text {
    top: 605px;
    left: 139px;
    color: rgba(67, 75, 231, 1);
    width: 300px;
    height: 70px;
    position: absolute;
    font-size: 35px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;   
    text-decoration: none;
    background-color: #000A2E;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
  }
  .frame1-text2 {
    top: 709px;
    left: 139px;
    color: rgba(67, 75, 231, 1);
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    
  }
  .frame1-text4 {
    top: 501px;
    left: 139px;
    color: rgba(67, 75, 231, 1);
    width: 300px;
    height: 70px;
    position: absolute;
    font-size: 28px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background-color: #000A2E;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
  }
  .frame1-text6 {
    top: 27px;
    left: 542px;
    color: rgba(67, 75, 231, 1);
    width: 170px;
    height: auto;
    position: absolute;
    font-size: 35px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame1-text7 {
    top: 27px;
    left: 700px;
    color: rgba(67, 75, 231, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 15px;
    font-style: Bold;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    white-space: nowrap;
  }
  .frame1-line1 {
    top: 83px;
    right: 60px;
    width: 1180px;
    height: 2px;
    position: absolute;
  }
  .progress {
    position: absolute;
    top: 700px;
    right: 65px;
  }
  
  